.App {
  text-align: center;
}

body{
  background-color: #f0e5e6;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards-container{
  text-align: center;
}
h1{
  font-size: 100px !important;
  text-align: center;
  font-family: Garamond;
}
.navbar{
  background-color: lightgrey;
  height: 50px;
  margin: 30px; 
  text-align: center;
  padding-top:10px;
}
.navbutton{
  height: 60;
  width: 400px;
  font-size: 30px;
  font-weight: bold;
  font-family: Garamond;
  background-color: transparent;
  border: none;
  cursor:pointer;
}
.navbutton:focus {
  outline: none;
}